.card {
    max-width: 25vw;
}

.col-md-4 {
    height: 32vw;
}

.card-img-top {
    height: 25%;
    object-fit: contain;
}

.card-categorias {
  max-width: 25vw;   
  margin: 0 auto;     
  min-height: 28vw;  
}
.barrapesquisa {
    max-width: 50vw;
    margin-left: auto; 
    margin-right: 10vw;
    display: flex;          
    justify-content: flex-end; 
}

.barrapesquisa input {
  flex: 1; 
}
